.registration{
  background: blue;
}
.container{
  border: 2px solid green;

}

.row{
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.this{
background-color: purple;
justify-content: flex-start;
align-content: flex-start;

}
